body {
  background-image: url("../images/concrete_seamless.png");
  padding-top: 80px;
}

#cat {
  max-width: 200px;
}

.port-img {
  max-width: 274px;
}

.border-top {
  border-width: 8px !important;
}